{% for item in items %}

          

                
              
              <div class="card-body text-center">
                <!--Category & Title-->
                
                  <h4><span class="badge badge-pill purple">{{ item.teacher}}</span></h4>
                  
              
                <h5>
                  <strong>
                    <a href="{% url 'product' item.id %}" class="dark-grey-text">{{ item.subject }}
                      
                    </a>
                  </strong>
                </h5>

              

          
          
          {% endfor %}

          